﻿@import '~nativescript-theme-core/css/core.light.css';

.page {
    background-color: #f8f8fa;
}
.home-hero {
    background-color: #6568d3;
}
.home-hero-inner {
    padding-bottom: 40;
}

.home-hero-photo {
    border-width: 1;
    border-color: #fff;
    border-radius: 50%;
    padding: 4;
    box-sizing: border-box;
}
.home-hero-inf { 
    color: #fff;
    padding: 0 20;
}

.title-big {
    font-size: 46;
}
.title-med {
    font-size: 20;
}

.title-med.detail {
    color: #4285f4;
}

.types {
    padding: 0;
    margin-top: -40;
}

.types-item {  
    background: #fff;
    padding: 10;
    margin: 0 0 0 16;
    border-width: 1;
    border-color: #fff;
    border-radius: 4;

}

.types-item-last {  
    margin-right: 16;
}

.types-ico {
    width: 10;
    margin-right: 4;
}

.types-label {  
    font-size: 14;
}

.types-top {
    
    padding: 6 10 ;
    color: #fff;
    border-radius: 3;
}
.types-name {
    font-size: 18;
}

.types-value { /**/
    font-weight: bold;
    margin-top: 6;
    margin-bottom: 10;
    font-size: 24;
    text-align: center;
}

.color-tp-industria { /**/
    color: #4dc77a;
}
.color-bgtp-industria { /**/
    background-color: #4dc77a;
}

.color-tp-solucion { /**/
    color: #cc67d2;
}
.color-bgtp-solucion { /**/
    background-color: #cc67d2;
}

.color-tp-pais { /**/
    color: #4abdc5;
}
.color-bgtp-pais { /**/
    background-color: #4abdc5;
}

.color-tp-universidad { /**/
    color: #c98463;
}
.color-bgtp-universidad { /**/
    background-color: #c98463;
}

.listv {
    padding: 8;
}
.listv2 {
    padding: 0 10;
}
.listv-header { padding: 0 10 }
.listv-title {
    font-size: 16;
    font-weight: 500;
    opacity: 1;
    color:#021042; 
    
}

.listv-tit-img {
    margin-right: 8;
}
.listv-more {
    background-color: transparent;
    border-color: white;
    z-index: 0;
    margin-right: -10;

}
.lisv-tag  {
    background-color: #4285f4;
    color: white;
    padding: 1 8;
    margin: 0 6 6 0;
    border-radius: 4;
}
.listv-itm { background-color: white; border-radius: 4; padding: 8 10; margin-bottom: 10 }
.listv-itm-ico{width:50; height: 50; border-radius: 50; border-width: 2; border-color:#ebf1f2;  }
.listv-itm-letter { color: white; font-size: 28px; text-align:center;  }
.listv-itm-letter.simil {font-size: 18px;}
.listv-itm-date {font-weight:100; font-size: 12; text-align: left }
.listv-itm-des { padding: 0 0 0 10}
.listv-itm-cal { margin-right: 4 }
.listv-itm-link { margin: 0 4 0 10 }
.listv-itm-link.simil { margin-left: 0}

.listv-simil { font-size: 24}
.link { color: #4285f4 }
.link.detail { color: #ffffff; text-decoration: underline }

.det-hero { background-color: #9565d3; padding: 60 0 20 40; color: #ffffff }
.det-itm { padding: 10 0 10 40 }
.det-line {background:#ebf1f2; height:1; margin:10 0;}
.det-itm-ico { margin-right: 4; margin-top: 3  }
.det-subtitle { padding: 10 0 10 40 }

.btn-fav { text-align: center}

.btn-google { background-color: #F34A38; height: 40; padding: 0 20; border-radius: 4; color: white}

.show { display: block; background-color: red}
.hide {display: none; background-color: black}
.bar-bottom { background-color: #ffffff; border-top-width: 1; border-top-color: #ebebeb }

.wait-fav { opacity: 0.2 }